<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <p>Contact us at: <strong>contact (at) womenincryptography (dot) com</strong></p>
      </div>

      <ul class="contact-list">
        <li>
          <a class="footer-link" href="mailto:{{ site.email }}" title="Contact by email" aria-label="Email">
            <i class="nes-icon envelope"></i>
          </a>
          <a class="footer-link" href="https://twitter.com/womenincrypto0" target="_blank" rel="noopener" title="Contact by Twitter" aria-label="Twitter">
            <i class="nes-icon twitter"></i>
          </a>
          <a class="footer-link" href="https://github.com/women-in-cryptography" target="_blank" rel="noopener" title="Check out our repos on GitHub" aria-label="GitHub">
            <i class="nes-icon github"></i>
          </a>
          <a class="footer-link" href="https://www.youtube.com/channel/UCqyjgrfjRRTwvyri-QZCTKw" target="_blank" rel="noopener" title="Check out our YouTube" aria-label="YouTube">
            <i class="nes-icon youtube"></i>
          </a>
        </li>
      </ul>

      <div class="copyright">
        <div><p>@ WINC 2026.</p></p></div>
        <p>This website is provided under the CC BY-SA 4.0 license.</p>
      </div>

    </div>
  </div>
</footer>
