<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>Contact us at: <strong>contact (at) womenincryptography (dot) com </strong></p>
      </div>
        <ul class="contact-list">
          <li>
            <a class="footer-link" href="mailto:{{ site.email }}" title="Contact by email">
              <i class="nes-icon envelope"></i>
            </a>
            <a class="footer-link" href="https://twitter.com/womenincrypto0" target="_blank" title="Contact by twitter">
              <i class="nes-icon twitter"></i>
            </a>
            <a class="footer-link" href="https://github.com/women-in-cryptography" target="_blank" title="Check out our repos in Github">
              <i class="nes-icon github"></i>
            </a>
            <a class="footer-link" href="https://www.youtube.com/channel/UCqyjgrfjRRTwvyri-QZCTKw" target="_blank" title="Check out our Youtube">
              <i class="nes-icon youtube-square"></i>
            </a>
          </li>
        </ul>
			<div class="copyright">
			  <p class="top-copyright">©Copyright 2022-2024 Women in Cryptography team. All Rights Reserved.</p>
				<p>This website is provided under the CC BY-SA 4.0 license.</p>
			</div>
    </div>
  </div>
</footer>
